body {
    background-color: rgb(193, 140, 102) !important;
}

#splashbillede {
    width: 100%;
    max-height: 120vh;
    overflow: hidden;
    margin-top: calc(-7px + -09vw);
    margin-bottom: 5vh;
    border-bottom: solid 10px;
}

#splashbillede img {
    position: relative;
    width: 100%;
}

#block {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 5vw;
    color: rgb(193, 140, 102);
    -webkit-text-stroke: 2px black;
    position: absolute;
    top: 30vw;
    left: 3%;
    border-left: solid 1vh black;
}

#filtreringsmenu {
    font-family: 'Khula', sans-serif;
    font-size: calc(6px + 1vh);
    background-color: aqua !important;
}

#sorteringsknap {
    padding: 0;
    text-align: right;
}

#sorteringsknap button {
    font-family: 'Khula', sans-serif;
    color: #e0bc92;
    font-size: calc(6px + 1vh);
    background-color: #383838;
    border-color: #e0bc92;
    border-width: 2px;
}

#sorteringsknap ul a {
    color: #e0bc92;
}

.dropdown-menu {
    font-family: 'Khula', sans-serif;
    color: #e0bc92;
    background-color: #383838 !important;
    border-color: #e0bc92 !important;
    border-width: 2px;
    padding: 10px !important;
}

.container h2 {
    font-size: 6vh;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    margin-bottom: 5vh;
    border-bottom: solid 5px;
}

.container h3 {
    font-size: 4vh;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
}

.container h4 {
    font-size: 3vh;
    font-family: 'Khula', sans-serif;
}

.container h5 {
    font-size: calc(6px + 1vh);
    font-family: 'Khula', sans-serif;
}

.container img {
    width: 100%;
}

#ret {
    margin-bottom: 5vh;
    background-color: #e0bc92;
    border-left: solid 10px;
    border-right: solid 10px rgb(193, 140, 102);
    height: calc(150px + 55vh);
}

#se_detaljer_knap {
    font-family: 'Khula', sans-serif;
    color: #e0bc92;
    font-size: calc(6px + 1vh);
    background-color: #383838;
}

.udsolgt,
.rabat {
    text-decoration: line-through;
}

.modal_indhold {
    background-color: #e0bc92;
    padding: 0;
}
